# Evitar que la instalación se cuelgue
fetch-timeout=60000
fetch-retries=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000

# Instalar dependencias opcionales (necesario para módulos nativos como lightningcss)
optional=true

# Usar solo el registro principal
registry=https://registry.npmjs.org/

# Guardar dependencias exactas (menos resolución)
save-exact=false
package-lock=true
